@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1



*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.3
  font-family: $default-font
  overflow-x: hidden
  opacity: 1
  color: #000

a, a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

.img-responsive
  display: block
  max-width: 100%
  height: auto

a, input, textarea, button
  outline: none

//toggle-mnu
.toggle-mnu
  display: inline-block
  float: right
  width: 40px
  height: 40px
  margin-top: 20px

  span:after, span:before
    content: ""
    position: absolute
    left: 0
    top: 11px

  span:after
    top: 22px

  span
    position: relative
    display: block

  span, span:after, span:before
    width: 100%
    height: 4px
    background-color: $accent-darkgreen
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px

  &.on span
    background-color: transparent

  &.on span:before
    transform: rotate(45deg) translate(1px, 0px)

  &.on span:after
    transform: rotate(-45deg) translate(8px, -7px)
//end toggle-mnu