@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px)

  .s-intro
    h1
      font-size: 40px
      line-height: 60px
      span
        font-size: 72px
    h2
      font-size: 32px
      line-height: 40px


  .logo
    top: 6px
  .main-mnu
    float: right
  .callback
    margin-top: -20px
    position: relative
    .call
      display: inline-block
      margin-right: 40px
    .recall
      position: relative
      top: -2px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .s-intro
    background-position: 40% center
    margin-bottom: 110px
    h1
      font-size: 28px
      line-height: 44px
      span
        font-size: 50px
    h2
      font-size: 22px
      line-height: 28px
    .btn
      margin-top: 80px
      font-size: 16px
  .intro-desc
    padding-left: 60px

  .logo
    top: 0
    margin-right: 120px
  .callback
    margin-top: 6px
    float: none
    vertical-align: top
    text-align: center
    margin-left: auto
    margin-right: auto
    .call
      display: block
      margin-right: 0
    .recall
      top: 0
      left: -10px


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .s-intro
    h2
      padding-left: 15px
      font-size: 20px
      line-height: 1.3
      border-left-width: 5px
      font-weight: 700
    .btn
      padding: 20px 25px
      font-size: 14px


  .intro-desc
    padding-left: 40%

  .main-head
    .container
      display: flex
      justify-content: space-between

  .logo
    margin-right: 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)

  .s-intro
    padding-bottom: 120px
    h1
      font-size: 18px
      line-height: 1.3
      margin-bottom: 30px
      span
        font-size: 32px
    h2
      font-size: 14px
      padding-left: 0
      border-left: none
    .btn
      font-size: 12px
      margin-top: 60px

  .intro-desc
    padding-left: 15%
    text-align: right


  .logo
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 204px

  .main-head
    position: relative
    padding-bottom: 15px
    .container
      display: block

  .toggle-mnu
    position: absolute
    right: 10px
    top: 0px
    margin-top: 12px
    width: 30px
    span:before
      top: 9px
    span:after
      top: 18px
    span, span:after, span:before
      height: 3px
    &.on span:before
      transform: rotate(45deg) translate(0px, 0px)

    &.on span:after
      transform: rotate(-45deg) translate(6px, -7px)

  .callback
    margin-top: 20px
    display: block
    .call
      display: inline-block
      left: 12px
    .recall
      display: block
      left: 0


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px)
	/**/

